
/* 共通 */
ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .dgrid {
    max-width: 1400px; 
    margin:0 auto;
    display: grid;
    grid-template-rows: 50px 50px 70px auto 70px 100px ;
    grid-template-columns: 2.5fr 2.5fr 2.5fr 2.5fr;
    grid-template-areas:
      "header  header header header"
      "...     ... ... ..."
      "title  title title title"
      "work    work work work"
      "...     ... ... ..."
      "footer footer footer footer";
  }

/* ヘッダー */
header{
    grid-area:header;
    width: 100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
/* .headerTitle{
    letter-spacing: 3px;
    font-size: 11px;
    font-weight: 400;
    font-family: inherit;
} */

.headerNav{
    letter-spacing: 3px;
    font-size: 11px;
    font-weight: 400;
    /* padding-bottom: 5px;
    border-bottom: black 1px solid; */
}



/* タイトル */
.title{
    width: 90%;
    margin:0 auto;
    grid-area:title;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 6px;
    font-weight: 600;
}

.subTitle{
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 6px;
    font-weight: 300;
}

/* ワーク */
.work{
    grid-area:work;
    max-width: 1200px;
    width: 90%;
    margin:0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.workTop{
    width: 100%;
    height: 400px;
    background-image: url(../img/lifeflower.png);
    background-size: cover;
}
.workBottom{
    width: 100%;
    padding-bottom: 5%;

}

.work-box{
    width: 95%;
    margin:0 auto;
}

.workTitle{
    margin:15px 0  0 0;
    color: #333;
    letter-spacing: 4px;
    font-weight: 600;
    line-height: 1.8;
    font-size: 18px;
}

.workTag{
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.375rem;
    letter-spacing: 0.0071428571em;
    border-bottom: 1px solid gray;
    padding: 7px 0 10px 0;
}

.workText{
    margin-top: 10px;
    padding-right: 25px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.0071428571em;
    white-space: pre-wrap;
    word-wrap: break-word;
}



/* フッター */
footer {
    grid-area: footer;
    width: 100%;
    background: #efefef;
  }

.copyright {
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    letter-spacing: 0.0071428571em;
    padding-top: 3%;
  }
  







@media (max-width: 600px) {
    .dgrid {
        max-width: 1400px; 
        margin:0 auto;
        display: grid;
        grid-template-rows: 50px 10px 30px auto 70px 60px ;
        grid-template-columns: 2.5fr 2.5fr 2.5fr 2.5fr;
        grid-template-areas:
          "header  header header header"
          "...     ... ... ..."
          "title  title title title"
          "work    work work work"
          "...     ... ... ..."
          "footer footer footer footer";
      }
    
    /* タイトル */
    .title{
        width: 90%;
        margin:0 auto;
        grid-area:title;
        font-size: 14px;
        line-height: 20px;
        text-align: center;

    }
    
    .subTitle{
        font-size: 10px;
        line-height: 18px;
        letter-spacing: 6px;
        font-weight: 300;
    }
    
    /* ワーク */
    .workTop{
        height: 175px;
    }

    .workBottom{
        /* padding-bottom: 5%; */
    }
    

    .workTitle{
        font-size: 12px;
    }
    
    .workTag{
        font-size: 10px;
    }
    
    .workText{
        font-size: 10px;
    }
    


/* フッター */
  .copyright {
    padding-top: 5%;
  }
}