/* 共通 */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.grid {
  display: grid;
  grid-template-rows: 0 50vh 70px auto 70px auto 70px auto 70px 100px;
  grid-template-columns: 2.5fr 2.5fr 2.5fr 2.5fr;
  grid-template-areas:
    "header  header header header"
    "main    main main main"
    "...     ... ... ..."
    "work  work work work"
    "...     ... ... ..."
    "skills skills skills skills"
    "...     ... ... ..."
    "about about about about"
    "...     ... ... ..."
    "footer footer footer footer";
}
/* ヘッダー */
header {
  z-index: 9999;
  grid-area: header;
  position: fixed;
  width: 100%;
  border: 1px solid rgb(190, 194, 204);
  box-shadow: 1px 1px 2px 1px rgb(182, 191, 194);
}

.header-navs {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  background-color: white;
  align-items: center;
}

/* メインエリア */

.main {
  width: 100%;
  grid-area: main;
  padding: 180px 0 100px 0;
  background-image: url(../img/yuhi.jpg);
  background-size: cover;
  color: rgb(132, 170, 241);
  text-align: center;
}

.top-h1 {
  color: rgb(241, 242, 232);
  font-weight: 700;
  letter-spacing: 10px;
  padding: 0 0 0 3px;
  font-size: 36px;
  font-family: Lato, sans-serif;
}

.mainTitle1 {
  padding: 10px;
  background-color: rgba(37, 39, 43, 0.664);
}

.top-h1-2 {
  margin-top: 25px;
  color: rgb(241, 242, 232);
  font-weight: 300;
  font-size: 30px;
  font-family: Lato, sans-serif;
}

.mainTitle2 {
  padding: 7px;
  background-color: rgba(37, 39, 43, 0.664);
}

.main p {
  opacity: 0.7;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 1;
  border-radius: 4px;
}
.btn:hover {
  opacity: 0.8;
}
/* .email {
    background-color: #65dfbb;
    } */

.github {
  margin-top: 50px;
  background-color: #454750;
  margin-right: 10px;
}
.twitter {
  background-color: #3890cb;
  margin-right: 10px;
}
.blog {
  background-color: #b6c7c2;
  margin-right: 10px;
}
.qiita {
  background-color: #46cc5a;
}
.btn-wrapper {
  margin: 20px 0;
}
.btn-wrapper p {
  margin: 10px 0;
}
.fa {
  margin-right: 5px;
}

/* 共通タイトル */
.title {
  text-align: center;
  font-size: 22px;
  letter-spacing: 3px;
}

/* ワーク */
.work {
  grid-area: work;
  width: 100%;
}

.workCards {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.workCard {
  margin-top: 50px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 420px;
}

.cardTop {
  width: 100%;
  height: 40%;
  background-image: url(../img/lifeflower.png);
  background-size: cover;
}

.cardTop2 {
  width: 100%;
  height: 40%;
  background-image: url(../img/thy.png);
  background-size: cover;
}
.cardTop3 {
  width: 100%;
  height: 40%;
  background-image: url(../img/manul.png);
  background-size: cover;
}
.cardTop4 {
  width: 100%;
  height: 40%;
  background-image: url(../img/jan.png);
  background-size: cover;
}

.cardBottom {
  height: 60%;
  padding: 7px 10px 7px 10px;
}
.workImg {
  width: 100%;
  object-fit: cover;
}

.cardTitle {
  padding: 44% 0 0 5px;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
  line-height: 2rem;
}

.cardspan {
  background-color: rgba(81, 82, 85, 0.808);
  padding: 7px;
}

.cardTag {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: 0.0071428571em;
  border-bottom: 1px solid gray;
  padding: 7px 0 10px 0;
}

.cardText {
  margin-top: 7px;
  padding-right: 25px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: 0.0071428571em;
}

.url {
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.875rem;
}
.url a {
  color: #0277bd !important;
  caret-color: #0277bd !important;
  text-decoration: underline;
}

.git {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.875rem;
}

.git a {
  color: #0277bd !important;
  caret-color: #0277bd !important;
  text-decoration: underline;
}
/* スキル */
.skills {
  grid-area: skills;
  width: 100%;
}

.skillCards {
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skillCard {
  margin-top: 50px;
  overflow: hidden;
  /* border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,.2); */
  width: 300px;
  height: 300px;
}

.scardTop {
  width: 100%;
  height: 40%;
}
.icons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.icon {
  font-size: 80px;
  line-height: 1.5;
}

.skillTitle {
  text-align: center !important;
  font-family: Lato, sans-serif;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.87);
  font-weight: bold;
  font-size: 1.1em;
  margin-top: 12px;
}

.scardBottom {
  height: 60%;
  padding: 7px 10px 7px 10px;
}

.skillText {
  font-size: 14px;
  font-family: Lato, sans-serif;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.87);
  padding-left: 12px;
}

/* アバウト */
.about {
  grid-area: about;
  width: 100%;
}

.about-area {
  width: 1000px;
  margin: 70px auto;
  display: flex;
}

.aboutLeft {
  width: 47%;
  height: 300px;
}

.aboutImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.aboutCenter{
    width: 3%;
}

.aboutRight {
  width: 48%;
  padding: 10px;
}

.aboutName {
  color: rgba(0, 0, 0, 0.87);
  font-family: Lato, sans-serif;
  line-height: 1.5;
  margin: 0 0 10px;
  font-size: 18px;
}

.aboutName-en {
  font-size: 12px;
  padding: 0 0 0 10px;
}

.aboutText {
  line-height: 2;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Lato, sans-serif;
}

/* フッター */
footer {
  grid-area: footer;
  width: 100%;
  background: #efefef;
}

.copyright {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: 0.0071428571em;
  padding-top: 3%;
}

@media (max-width: 1000px) {
  /* アバウト */
.aboutTitle{
    margin-bottom: 70px;

}
  .about-area {
    width: 100%;
    margin: 70px auto;
    display: inline;
  }

  .aboutLeft {
    width: 80%;
    max-height: 300px;
    margin:0 auto;
  }
  
  .aboutImg {
    max-height: 250px;
  }
  
  .aboutRight {
    width: 80%;
    padding: 10px;
    margin:0 auto;
  }
  
}

@media (max-width: 550px) {
    .grid {
        display: grid;
        grid-template-rows: 0 100vh 70px auto 70px auto 70px auto 70px 60px;
        grid-template-columns: 2.5fr 2.5fr 2.5fr 2.5fr;
        grid-template-areas:
          "header  header header header"
          "main    main main main"
          "...     ... ... ..."
          "work  work work work"
          "...     ... ... ..."
          "skills skills skills skills"
          "...     ... ... ..."
          "about about about about"
          "...     ... ... ..."
          "footer footer footer footer";
      }
      

      /* メインエリア */
      .container {
        padding: 0;
      }
      .main {
        background-image: url(../img/asabin.jpg);
      }
.top-h1-2{
    margin-bottom: 40px;

}

      .btn{
        margin-top: 15px;

      }


/* ワーク */
.workTitle{
    margin-bottom: 55px;
}

.workCard{
    margin: 15px auto;

}


    /* スキル */
    .skillsTitle{
    margin-bottom: 70px;
    }
    .skillCard{
        margin: 0 auto;

    }

/* アバウト */
.aboutCenter{
    display: none;
}
    /* フッター */

    .copyright {
        padding-top: 5%;
      }

}